nb-layout-header{
    ::ng-deep {
        nav{
            justify-content: space-between!important;
        }
        div{
            width: 20%;
            margin-top: 1%;
            text-align: center;
            div{
                display: inline-block;
            }
            p{
                display: inline-block;
                margin-left: 2%;
                font-size: 2vw;
            }
            img{
                margin-top: 2%;
                width: 80%;
            }
        }
    }
}
:host{
    display: block;
}