<nb-layout>
  <nb-layout-header fixed >
      <nb-actions>
        <nb-action icon="menu" ></nb-action>
      </nb-actions>
      <div>
        <div style="width: 25%;">
          <img src="">
        </div>
        <div style="width: 50%;">
          <p>Dungeon_UCM</p>
        </div>
      </div>
      <button nbButton >co</button>
  </nb-layout-header>

  <nb-sidebar >
    <app-nav>
    </app-nav>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet>
    </router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    
  </nb-layout-footer>

</nb-layout>
