
<div id="hero">
    <nb-list *ngFor="let h of combatStarDTO?.joueurs" class="perso">
        <nb-list-item class="elem">
            <div class="info">
                <p>{{h.nomPersonnage}} lvl:{{h.niveau}}</p>
                    
            </div>
            <div class="image">
                <img src="../../../../assets/img/tempPerso.png">
            </div>
            <div class="state">
                <div>
                     <p>{{h.pointDeVie}} / {{h.pointDeVieMax}} PV</p>
                </div>
                <div>
                    <p>{{h.pointDeMana}} / {{h.pointDeManaMax}} PM</p>
                </div>
            </div>
        </nb-list-item>
    </nb-list>
</div>
<div id="hero">
    <nb-list *ngFor="let m of combatStarDTO?.monstre" class="perso">
        <nb-list-item class="elem">
            <div class="info">
                <p>{{m.nomPersonnage}} lvl:{{m.niveau}}</p>
                    
            </div>
            <div class="image">
                <img src="../../../../assets/img/tempMonstre.png">
            </div>
            <div class="state">
                <div>
                     <p>{{m.pointDeVie}} / {{m.pointDeVieMax}} PV</p>
                </div>
                <div>
                    <p>{{m.pointDeMana}} / {{m.pointDeManaMax}} PM</p>
                </div>
            </div>
        </nb-list-item>
    </nb-list>
</div>
<div >
    <button nbButton (click)="frapper()">frapper</button>
</div>
